* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  user-select: none;
}

body {
  background-image: url(a-neon-city-4m-3840x2160.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  font-size: 13px;
  padding-top: 10px;
}

/* start intro */
.heading {
  margin: 10px auto;
  position: relative;
  width: 80%;
  margin-top: 8%;
}

.welcome {
  padding-left: 15%;
  font-size: 30px;
  opacity: 0;
  font-weight: 700;
  animation: appear 3s ease-out 1s 1 forwards;
  text-shadow: 0 0 10px #77f5fc, 0 0 20px #77f5fc, 0 0 40px #77f5fc,
    0 0 80px #77f5fc, 0 0 160px #77f5fc;
}

.fallen {
  margin-top: 8px;
  padding-left: 40%;
  font-size: 35px;
  font-weight: 900;
  opacity: 0;
  animation: appear 3s ease-out 2s 1 forwards;
  text-shadow: 0 0 10px, 0 0 20px #c724b1, 0 0 40px #c724b1, 0 0 80px #c724b1,
    0 0 160px #c724b1;
}

.buttonContainer {
  margin-top: 50px;
  opacity: 0;
  animation: move 2s ease-out 2s 1 forwards;
}

.button {
  width: 100px;
  margin: 50px 20px;
  border-radius: 5px;
  text-align: center;
  color: #77f5fc;
  padding: 5px 10px;
  border: 1.5px solid white;
  background-color: transparent;
  transition: all 0.3s ease-in;
}

[type="radio"] {
  display: none;
}

#login:checked + .intro {
  display: none;
}

label:hover {
  background-color: #c724b1;
}
@keyframes appear {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translate(0px);
    opacity: 0;
  }
  to {
    transform: translate(550px);
    opacity: 1;
  }
}
/* end intro */

/* start form */
form {
  text-align: center;
  display: block;
  height: 95%;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  background-color: #c724b1;
  opacity: 0.8;
  padding-top: 15px;
  overflow: hidden;
  display: none;
  box-shadow: 10px 10px 10px black;
}
/* display when checked */
#login:checked ~ form {
  display: block;
}
/* heading */
.register {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  white-space: nowrap;
  opacity: 1;
  color: #77f5fc;
  font-weight: 800;
  width: 450px;
  white-space: nowrap;
  border-right: 4px solid cyan;
  overflow: hidden;
  animation: type 3s steps(30), blink 0.8s linear infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes blink {
  from {
    border-right-color: transparent;
  }
}

/* inputs box start */
input {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: pink;
  width: 80%;
  height: 50px;
  padding-left: 10px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid #77f5fc;
}

input::placeholder {
  color: pink;
  font-style: italic;
  font-size: 12px;
  opacity: 0.7;
}

input:focus {
  background-color: white;
}
[type="password"]:placeholder-shown + h6 {
  display: none;
}
input + h6 {
  margin: 5px 40px;
  color: red;
}
/* input box end */

/* choose .characters start */
.choose {
  font-size: 18px;
  color: #44d62c;
  font-style: italic;
  font-weight: 700;
}
img {
  width: 100%;
}
.characters {
  margin: 10px auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.showPlace {
  margin: 20px auto;
  position: relative;
  width: 90%;
  height: 40%;
  border-radius: 10px;
}
label:active {
  color: red;
}
label:hover {
  color: pink;
}
.showPlace div {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.01s linear;
}

h2 {
  display: inline;
  text-align: center;
  width: 100px;
  margin: auto;
  color: orange;
}
.imgContainer {
  width: 40%;
  display: inline-block;
}

#peka:checked + div {
  z-index: 1;
  background-color: black;
}

#dragon:checked + div {
  z-index: 1;
  background-color: black;
}
#amongus:checked + div {
  z-index: 1;
  background-color: whitesmoke;
}
/* choose .characters end */

/* playbtn */
.playBtn {
  width: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  text-align-last: center;
  background-color: red;
  color: pink;
  margin: 20px auto;
  text-decoration: none;
  cursor: pointer;
}
a {
  display: inline-block;
  width: 100%;
}

.playBtn:active {
  background-color: gold;
}

/* end form */

/* start twinkle star  */
body p {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #77f5fc;
  box-shadow: -1px -1px 10px#77F5FC, 1px 1px 10px#77F5FC, 1px -1px 10px#77F5FC,
    -1px 1px 10px#77F5FC;
  animation: twinkle 0.5s ease-out infinite alternate;
}

.star1 {
  left: 10%;
  top: 30%;
  animation-delay: 1s !important;
}

.star2 {
  left: 30%;
  top: 15%;
}

.star3 {
  left: 60%;
  top: 3%;
  animation-delay: 1.5s !important;
}

.star4 {
  left: 75%;
  top: 20%;
  animation-delay: 2s !important;
}

.star5 {
  left: 90%;
  top: 10%;
}

.star6 {
  left: 3%;
  top: 10%;
  animation-delay: 0.5s !important;
}

.star7 {
  left: 10%;
  top: 15%;
}

.star8 {
  left: 88%;
  top: 22%;
  animation-delay: 300ms !important;
}

.star9 {
  left: 52%;
  top: 2%;
}

.star10 {
  left: 99%;
  top: 8%;
  animation-delay: 0.3s !important;
}

@keyframes twinkle {
  from {
    box-shadow: -1px -1px 10px#77F5FC, 1px 1px 10px#77F5FC, 1px -1px 10px#77F5FC,
      -1px 1px 10px#77F5FC;
  }
  to {
    box-shadow: -4.9px -4.9px 10px#77F5FC, 4.9px 4.9px 10px#77F5FC,
      4.9px -4.9px 10px#77F5FC, -4.9px 4.9px 10px#77F5FC;
  }
}
/* end twinkle star */
